.venv/
programming/.venv/
.venv/Lib/site-packages/pip-22.3.dist-info/entry_points.txt

.venv/Lib/site-packages/pip/__init__.py
networking_security_cyber_security_challenges
Other/youtube/downloadPlaylist.py
